name: Publish Schema to BSR

on:
  push:
    branches:
      - master

permissions:
  contents: read
  pull-requests: write

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: bufbuild/buf-action@v1.3
        with:
          input: proto/
          lint: true
          format: true
          breaking: true
