name: Publish Schema to BSR

on:
  push:
    tags:
      - v*.*.*

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: bufbuild/buf-setup-action@v1.50.0

      - uses: bufbuild/buf-push-action@v1.2.0
        with:
          buf_token: ${{ secrets.BUF_TOKEN }}