name: CI

on:
  push:
    tags:
      - v*.*.*

permissions:
  contents: read
  pull-requests: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: bufbuild/buf-action@v1.3
        with:
          token: ${{ secrets.BUF_TOKEN }}
          push: true
          lint: false
          format: false
          breaking: false
