name: Publish Schema to BSR

on:
  push:
    tags:
      - v*.*.*

permissions:
  contents: read
  pull-requests: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: bufbuild/buf-action@v1.3
        with:
          input: proto/
          token: ${{ secrets.BUF_TOKEN }}
